[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
python-dotenv = "*"
alembic = "*"
argon2-cffi = "*"
pyjwt = "*"
keyring = "*"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
pre-commit = "*"
psycopg = {extras = ["binary"], version = "*"}
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"
